<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".ps1" />
      <mimeMap fileExtension=".ps1" mimeType="text/plain; charset=utf-8" />
    </staticContent>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="config.local.js" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
