PORT=8787
HOST=0.0.0.0
BAOHUI_ADMIN_USER=admin
BAOHUI_ADMIN_PASSWORD=ChangeMe-2026!
BAOHUI_SESSION_SECRET=replace-with-a-long-random-string
BAOHUI_DATA_DIR=./data
BAOHUI_COMPANY_EMAIL=s1214098@gmail.com
BAOHUI_LINE_NOTIFY_TOKEN=
